.addon-h1 {
    background-color: var(--primary);
    color: white;
    line-height: 1.5;
}

.addon-h1 p {
    padding: 0;
    margin: 0;
    border-left: 2px solid white;
}

.addon-flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addon-h3 {
    background-color: var(--primary);
    color: white;
    line-height: 1.5;
}

.addon-h3 p {
    padding: 0;
    margin: 0;
    border-left: 2px solid white;
}

.img-text {
    flex-direction: column;
}

.img-text .media-body {
    margin-top: 40px;
    margin-left: 0 !important;
}

.text-decoration-underline {
    text-decoration: underline;
    text-underline-offset: 7px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
}

.font-15px {
    font-size: 15px !important;
}

.sticky {
    flex-direction: row !important;
}

.sticky .navbar-brand h1,
.sticky .navbar-brand span {
    display: none;
}

.sticky .font-15px {
    font-size: 13px !important;
}

#accordian-component [data-toggle="collapse"]{
    cursor: pointer;
}

@media only screen and (max-width: 425px) {

    .sticky .navbar-brand h1,
    .sticky .navbar-brand span {
        display: flex;
    }

    .text-justify {
        text-align: left !important;
    }
}

.card h5{
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between;
}
.card .toggleplus{
    color: #757575;
    width: 30px!important;
    font-size: 31px!important;
}